body {
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 30px;
}

.Mainheader, .borderUnderChild, .routing {
  text-align: center;
}

.borderUnderChild {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  border-radius: 15px;
}

th {
  font-weight: bold;
  border: 2px solid black;
  background-color: lightgreen;
}

td {
  border: 2px solid black;
  background-color: white;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}
