.Mainheader, .borderUnder-child-x1, .routing-child-x2 {
  text-align: center;
}

.borderUnder-child-x1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  border-radius: 15px;
}

.routingOutput-child-x3 {
  width: 1000px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
}

.link {
  width: 60px;
  height: 20px;
  display: inline-block;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}

body {
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 30px;
}

th {
  font-weight: bold;
  border: 2px solid black;
  background-color: lightgreen;
}

td {
  border: 2px solid black;
  background-color: white;
}
